<% require_dependency 'appspace_users_patch' %>

<table class="settings">
  <thead class="app-header application">
  <th class="title"><%=l(:label_enabled)%></th>
  <th class="title"><%=l(:label_auth_group)%></th>
  <th class="title"><%=l(:label_application)%></th>
  </thead>
  <tbody>
<%
   (settings['available'] || []).uniq{ |x| x[:name] }.sort {
           |x,y| l("label_#{x[:name]}") <=> l("label_#{y[:name]}")
   }.each do |tab|
     name = tab[:name]
     if(name != nil)
      Redmine::MenuManager.map('application_menu').delete(name.to_sym)
      Redmine::MenuManager.map('application_menu').push(name, { :controller => 'appspace', :action => 'index', :tab => name },
         :caption => "label_#{name}".to_sym,
         :if => Proc.new {
                     |p| User.respond_to? :is_app_visible? and User.is_app_visible?(name.to_s)
             }) if settings['enabled'].include?(name)
%>
       <tr class="application root <%= cycle('odd', 'even')%>">
         <%= hidden_field_tag "settings[available][][name]", name unless name.nil? %>
         <%= hidden_field_tag "settings[available][][partial]", tab[:partial] unless tab[:partial].nil? %>
         <td class="checkbox">
           <%= check_box_tag "settings[enabled][]", name, settings['enabled'].include?(name)  %>
         </td>
         <td>
           <%= select_tag "settings[auth_group][#{name}]", options_from_collection_for_select(Group.active.all, "id", "lastname", (settings['auth_group'][name] rescue {})), :prompt => l(:label_everybody), :class => 'selectize' %>
         </td>
         <td>
            <span class="title">
              <%= l("label_#{name}".to_sym) %>
            </span>
           <div class="description">
             <%  if tab[:description].nil? %>
                 <%=   l("label_#{name}_description".to_sym) %>
             <%  else %>
                 <%=   tab[:description] %>
             <%  end %>
           </div>
         </td>
       </tr>
<% end %>
<% end %>
</tbody>
</table>
<%= hidden_field_tag "settings[enabled][]", "__dummy__" %>
